@model Pruebatec_laboral.Models.Trabajadores

@{
    ViewData["Title"] = "Editar";
    Layout = null; // Para modal
}

<div class="container px-3 py-2">
    <h4 class="mb-3 text-primary">Editar Trabajador</h4>
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
        <input type="hidden" asp-for="Id" />

        <div class="mb-3">
            <label asp-for="TipoDocumento" class="form-label"></label>
            <input asp-for="TipoDocumento" class="form-control" />
            <span asp-validation-for="TipoDocumento" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="NumeroDocumento" class="form-label"></label>
            <input asp-for="NumeroDocumento" class="form-control" />
            <span asp-validation-for="NumeroDocumento" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Nombres" class="form-label"></label>
            <input asp-for="Nombres" class="form-control" />
            <span asp-validation-for="Nombres" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Sexo" class="form-label"></label>
            <input asp-for="Sexo" class="form-control" />
            <span asp-validation-for="Sexo" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="IdDepartamento" class="form-label"></label>
            <select asp-for="IdDepartamento" class="form-select" asp-items="ViewBag.IdDepartamento"></select>
            <span asp-validation-for="IdDepartamento" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="IdProvincia" class="form-label"></label>
            <select asp-for="IdProvincia" class="form-select" asp-items="ViewBag.IdProvincia"></select>
            <span asp-validation-for="IdProvincia" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="IdDistrito" class="form-label"></label>
            <select asp-for="IdDistrito" class="form-select" asp-items="ViewBag.IdDistrito"></select>
            <span asp-validation-for="IdDistrito" class="text-danger"></span>
        </div>

        <div class="d-flex justify-content-end gap-2">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
